.header {
    text-align: center;
  }

.button-row {
    margin: 50px;
    padding: 50px;
}

.light {
  background-color: lightblue;
  color: black;
}

.dark {
  background-color: darkcyan;
  color: white;
}